<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.goindia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Catalog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".Careepath" />
        <activity android:name=".Completeview" />
        <activity android:name=".Additon" />
        <activity android:name=".CompleteviewImage" />
        <activity android:name=".hobbiess" />
        <activity android:name=".SplashScreen"></activity>
        <activity android:name=".EditorActivity"></activity>

        <provider android:name="app.goindia.PetProvider"
            android:authorities="app.goindia"
            android:enabled="true"
            android:exported="true" >
        </provider>
     </application>

</manifest>